<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/794e84e3-ca22-404b-adb7-a221b6973db3/resourceGroups/TasksAPI20250318004643ResourceGroup/providers/Microsoft.ApiManagement/service/TasksAPIapi/apis/TasksAPI</ApiResourceId>
    <!--<OpenApiDocumentName>v1</OpenApiDocumentName>-->
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/794e84e3-ca22-404b-adb7-a221b6973db3/resourcegroups/TasksAPI20250318004643ResourceGroup/providers/Microsoft.Web/sites/TasksAPI20250318004643</ResourceId>
    <ResourceGroup>TasksAPI20250318004643ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://tasksapi20250318004643-cpe8huaeaggugtcz.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>559163e3-7b6b-4370-b08c-91cf6ebc5606</ProjectGuid>
    <PublishUrl>https://tasksapi20250318004643-cpe8huaeaggugtcz.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>